20171029-CBU-Workshop/defaults/flow.json
[{"id":"45bd064d.ab9b18","type":"tab","label":"Workspace"},{"id":"afbb8bb3.e72e08","type":"tab","label":"2TextToSpeechFlow"},{"id":"1f19a99c.748076","type":"tab","label":"3SpeechToTextFlow"},{"id":"2c33289b.e5e1a8","type":"tab","label":"4ToneAnalyzerFlow"},{"id":"feea0a62.103ea8","type":"tab","label":"5ConversationFlow"},{"id":"e12c7ed1.af3ff","type":"watson-text-to-speech","z":"afbb8bb3.e72e08","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"","x":451.9590950012207,"y":233.21248245239258,"wires":[["101285f4.d0ddca"]]},{"id":"de4d8f55.43ac6","type":"inject","z":"afbb8bb3.e72e08","name":"Angry message","topic":"","payload":"Patrick, Brian, and Jill are doing an awful job! Don't tell me what to do, Mom.","payloadType":"str","repeat":"","crontab":"","once":false,"x":156,"y":224,"wires":[["e12c7ed1.af3ff"]]},{"id":"d63b37cf.feb848","type":"inject","z":"afbb8bb3.e72e08","name":"Happy message","topic":"","payload":"Bluemix and Node-RED are great! I'm excited to learn with you and nobox.","payloadType":"str","repeat":"","crontab":"","once":false,"x":156,"y":184,"wires":[["e12c7ed1.af3ff"]]},{"id":"101285f4.d0ddca","type":"function","z":"afbb8bb3.e72e08","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":644.4659614562988,"y":233.46134567260742,"wires":[["b98ca6fa.806dc8"]]},{"id":"b98ca6fa.806dc8","type":"play audio","z":"afbb8bb3.e72e08","name":"","x":826,"y":224,"wires":[]},{"id":"6aeab77f.75db98","type":"inject","z":"afbb8bb3.e72e08","name":"Apathetic message","topic":"","payload":"I guess this workshop is okay. I'd rather be listening to industrial dance.","payloadType":"str","repeat":"","crontab":"","once":false,"x":166,"y":264,"wires":[["e12c7ed1.af3ff"]]},{"id":"6011368.4d1c2c8","type":"inject","z":"afbb8bb3.e72e08","name":"Apologetic message","topic":"","payload":"Oh geez, uuhh, I really don't know what's going on. I just want to help you learn Bluemix and Node-RED. Please be sure to thank your host, I know we're all working really hard here...","payloadType":"str","repeat":"","crontab":"","once":false,"x":166,"y":304,"wires":[["e12c7ed1.af3ff"]]},{"id":"1d7942fd.aad86d","type":"inject","z":"afbb8bb3.e72e08","name":"Really Happy message","topic":"","payload":"This is so exciting!! I can't believe you're here today to learn with me! We're going to have such a fun time together, I can't wait to spend this session with you!","payloadType":"str","repeat":"","crontab":"","once":false,"x":176,"y":144,"wires":[["e12c7ed1.af3ff"]]},{"id":"5d241147.d5b22","type":"microphone","z":"1f19a99c.748076","name":"","x":157,"y":140,"wires":[["8fdca46b.1b0218"]]},{"id":"8fdca46b.1b0218","type":"watson-speech-to-text","z":"1f19a99c.748076","name":"","continuous":true,"speakerlabels":true,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"","x":367,"y":140,"wires":[["950d393f.181d28"]]},{"id":"950d393f.181d28","type":"function","z":"1f19a99c.748076","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":577,"y":140,"wires":[["a4f7e0c2.8f974"]]},{"id":"a4f7e0c2.8f974","type":"debug","z":"1f19a99c.748076","name":"","active":true,"console":"false","complete":"false","x":777,"y":140,"wires":[]},{"id":"b796e6be.b420d8","type":"debug","z":"2c33289b.e5e1a8","name":"","active":true,"console":"false","complete":"payload","x":757,"y":122,"wires":[]},{"id":"51667dc5.3aa894","type":"watson-tone-analyzer-v3","z":"2c33289b.e5e1a8","name":"","tones":"emotion","sentences":"false","contentType":"false","x":297,"y":122,"wires":[["7231964d.e26a88"]]},{"id":"7231964d.e26a88","type":"function","z":"2c33289b.e5e1a8","name":"set payload","func":"msg.payload = msg.response;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":537,"y":122,"wires":[["b796e6be.b420d8"]]},{"id":"875f82ed.1dbe6","type":"function","z":"feea0a62.103ea8","name":"set payload ","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n output = msg.payload.output.text.join(' ');\n \n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send(msg);","outputs":"1","noerr":0,"x":740,"y":113,"wires":[[]]},{"id":"c4ccbccc.26bfa","type":"function","z":"feea0a62.103ea8","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n .filter(function(c){\n if (c.category_id == \"emotion_tone\")\n {return c; }\n })[0].tones;\n \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n topemotion = topemotion.tone_name;\n} else {\n topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n \" + topemotion); \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":113,"wires":[["2a9d1c2b.1fce24"]]},{"id":"2a9d1c2b.1fce24","type":"watson-conversation-v1","z":"feea0a62.103ea8","name":"","workspaceid":"WORKSPACE ID ENTER HERE","multiuser":false,"context":true,"x":520,"y":113,"wires":[["875f82ed.1dbe6"]]}]
