20171029-CBU-Workshop/defaults/flow2.json
[{"id":"86388944.6aee58","type":"microphone","z":"352c0780.b95208","name":"","x":75,"y":204,"wires":[["cacd0eff.36e39"]]},{"id":"cacd0eff.36e39","type":"watson-speech-to-text","z":"352c0780.b95208","name":"","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"BroadbandModel","bandhidden":"","password":"","x":273,"y":203,"wires":[["de4add93.ac8cb"]]},{"id":"de4add93.ac8cb","type":"function","z":"352c0780.b95208","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":481,"y":203,"wires":[["85e0f58c.419918"]]},{"id":"85e0f58c.419918","type":"debug","z":"352c0780.b95208","name":"","active":true,"console":"false","complete":"false","x":703,"y":204,"wires":[]}]
