20171028-CBU-Workshop/flow.json
[{"id":"653e4984.b88c58","type":"watson-text-to-speech","z":"352c0780.b95208","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"","x":288,"y":105,"wires":[["7c9c3d81.fd2b44"]]},{"id":"48ca9755.760148","type":"inject","z":"352c0780.b95208","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":85,"y":103,"wires":[["653e4984.b88c58"]]},{"id":"8566f3d5.a59","type":"inject","z":"352c0780.b95208","name":"Happy feedback","topic":"","payload":"These new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":85,"y":67,"wires":[["653e4984.b88c58"]]},{"id":"7c9c3d81.fd2b44","type":"function","z":"352c0780.b95208","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":97,"wires":[["957bd8c5.3c13f8"]]},{"id":"957bd8c5.3c13f8","type":"play audio","z":"352c0780.b95208","name":"","x":659.3332939147949,"y":97,"wires":[]}]
